:root {
  --background-clr: #ffffff;
  --search-clr: #f9f9f9;
  --text-clr: #808080;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
  max-width: auto;
}
body {
  background: rgb(247, 237, 237);
  transition: 450ms ease-in-out;
}
/* HEADING SECTION */
.heading {
  display: flex;
  justify-content: space-between;
  background: var(--background-clr);
  box-shadow: 1px 1px 5px #ddd, 1px 1px 5px #ddd;
  padding: 10px;
}
.heading h3 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
  color: #5ee085;
}
.search {
  padding: 10px;
  width: 395px;
  height: 35px;
  background: var(--search-clr);
  font-style: italic;
  font-family: cursive;
  border: 1px solid wheat;
  border-radius: 7px;
  margin-top: 5px;
  margin-left: -100px;
  outline: none;
}
.country-notify {
  display: flex;
  justify-content: space-evenly;
}
#country {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px #fff, 1px 1px 5px #ddd;
  font-weight: 250;
  margin-top: 5px;
}
.icons {
  font-weight: 700;
  font-size: 20px;
  color: #001a72;
  display: flex;
  justify-content: space-between;
}
.icons i {
  position: relative;
  font-size: 23px;
  z-index: 1.2;
  margin-top: 9px;
  margin-left: 15px;
}
.icons i:hover {
  color: rgb(234, 235, 239);
  background: none;
}
i:hover {
  transition: 0.9s;
}
.profile {
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-right: 20px;
}
.profile p {
  margin-right: 20px;
  margin-top: 8px;
}
.profile img {
  border-radius: 50%;
  border: 1px solid #5ee085;
  width: 37px;
  height: 37px;
}
.profile i {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

/* ACCESS SECTION */
.access {
  width: 975px;
  height: 195px;
  position: absolute;
  margin-top: 27.5px;
  margin-left: 125px;
  background: linear-gradient(to right, #5ee08526, #b940402b);
  border: none;
  outline: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.access p {
  font-size: 23.87px;
  font-weight: 574;
  position: relative;
  margin-top: 40px;
  margin-left: 35px;
}
.search-topic {
  width: 450px;
  height: 32.5px;
  padding: 10px;
  color: var(--text-clr);
  background: var(--search-clr);
  font-style: italic;
  font-family: cursive;
  border: 1px solid wheat;
  outline: none;
  border-radius: 7px;
  margin-top: 20px;
  margin-left: 43px;
}
.access img {
  position: relative;
  top: -110px;
  right: -785px;
  width: 180px;
  height: 150px;
}

/* SHARE SECTION */
.share {
  width: 975px;
  display: flex;
  background: white;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-around;
  margin-top: 245px;
  margin-left: 125px;
  box-shadow: 1px 1px 5px #fff, 1px 1px 5px #ddd;
}
.share img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
.share .search {
  width: 600px;
  padding: 15px;
  background: var(--search-clr);
  color: var(--text-clr);
  border: 1px solid wheat;
}
.share-icons {
  position: relative;
  justify-content: space-between;
  color: #aaa;
  margin-top: 12px;
  font-size: 22.5px;
}
.share-icons i:hover {
  color: gainsboro;
}

/* TOPIC SECTION */
.topic {
  max-width: 900px;
  margin-top: 26px;
  margin-left: 51px;
  color: var(--text-clr);
}
.topic ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.selected {
  color: black;
  font-weight: 550;
}

/* RELATION SECTION */
.relation {
  max-width: 1700px;
  /* background: transparent; */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  overflow: hidden;
  margin-left: 100px;
}
.relation ul {
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
  list-style: none;
  gap: 10px;
  /* overflow-x: scroll; */
}
.relation li {
  padding: 6.5px;
  /* height: 35px; */
  background: white;
  color: var(--text-clr);
  border: none;
  border-radius: 4px;
  justify-content: space-between;
  cursor: pointer;
}
ul .active {
  width: 70px;
  color: black;
  text-align: center;
  border: 1.35px solid #5ee085;
  border-radius: 10px;
}

/* PROFILE SECTION */
.profile-extend {
  height: 325px;
  width: 470px;
  background: white;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 65px;
  border-radius: 5px;
}
.tag {
  display: flex;
  justify-content: space-around;
}

.tag img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 30px;
}
.tag p {
  margin-top: 25.6px;
  margin-left: 20px;
}
.tag span {
  color: #00000099 !important;
  font-size: 11.5px;
  margin-top: 45px;
  margin-right: 550px;
}
.follow {
  width: 80px;
  height: 30px;
  color: black;
  text-decoration: none;
  border: 1px solid #5ee085;
  background: white;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 20px;
}
.more i {
  gap: 32px;
  font-size: 14.5px;
}
.dot {
  font-size: 20px;
  margin-right: 20px;
  color: #00000099;
}

/* /TABLET/
@media (max-width: 768px) {
  body {
    transition: 5s ease-in;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    background: var();
    box-shadow: 1px 1px 5px #ddd, 1px 1px 5px #ddd;
    padding: 10px;
  }
  .heading h3 {
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    color: #5ee085;
  }
  .search {
    padding: 10px;
    width: 255px;
    height: 30px;
    background: var();
    font-style: italic;
    font-family: cursive;
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    margin-left: -100px;
    outline: none;
  }
  .country-notify {
    display: flex;
    justify-content: space-evenly;
  }
  #country {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #fff, 1px 1px 5px #ddd;
    font-weight: 250;
    margin-top: 5px;
  }
  .icons {
    font-weight: 700;
    font-size: 20px;
    color: #001a72;
    display: flex;
    justify-content: space-between;
  }
  .icons i {
    position: relative;
    font-size: 23px;
    z-index: 1.2;
    margin-top: 9px;
    margin-left: 15px;
  }
  .icons i:hover {
    color: rgb(234, 235, 239);
    background: none;
  }
  i:hover {
    transition: 0.9s;
  }
  .profile {
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    margin-right: 20px;
  }
  .profile p {
    margin-right: 20px;
    margin-top: 8px;
  }
  .profile img {
    border-radius: 50%;
    border: 1px solid #5ee;
  }
}

/* MOBILE - 320px  /
@media (max-width: 320px) {
  .heading {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    background: #bd0d0d;
    width: auto;
    box-shadow: 1px 1px 5px #ddd, 1px 1px 5px #ddd;
    /* padding: 10px; /
  }
  .heading h3 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
    color: #5ee085;
  }
  .search {
    padding: 10px;
    width: 255px;
    height: 30px;
    background: var();
    font-style: italic;
    font-family: cursive;
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    margin-left: -100px;
    outline: none;
    text-align: center;
  }
  .country-notify {
    display: flex;
    justify-content: space-evenly;
  }
  #country {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #fff, 1px 1px 5px #ddd;
    font-weight: 250;
    margin-top: 5px;
  }
  .icons {
    font-weight: 700;
    font-size: 20px;
    color: #001a72;
    display: flex;
    justify-content: space-between;
  }
  .icons i {
    position: relative;
    font-size: 23px;
    z-index: 1.2;
    margin-top: 9px;
    margin-left: 9px;
  }
  .icons i:hover {
    color: rgb(234, 235, 239);
    background: none;
  }
  i:hover {
    transition: 0.9s;
  }
  .profile {
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    margin-right: 20px;
  }
  .profile p {
    display: none;
  }
  .profile img {
    border-radius: 50%;
    border: 1px solid #5ee;
  }

  /* ACCESS SECTION /
  .access {
    width: 525px;
    height: 195px;
    position: absolute;
    margin-top: 27.5px;
    margin-left: 35px;
    background: linear-gradient(to right, #5ee08526, #b940402b);
    border: none;
    outline: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  .access p {
    font-size: 23.87px;
    font-weight: 574;
    position: relative;
    margin-top: 40px;
    margin-left: 35px;
  }
  .search-topic {
    width: 450px;
    height: 32.5px;
    padding: 5px;
    color: gray;
    background: var();
    font-style: italic;
    font-family: cursive;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 43px;
  }
  .access img {
    display: none;
  }
} */
