* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
  max-width: auto;
}
body {
  background: rgb(247, 237, 237);
}
/* HEADING SECTION */
.heading {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 1px 1px 5px #ddd, 1px 1px 5px #ddd;
  padding: 10px;
}
.heading h3 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
  color: #5ee085;
}
.search {
  padding: 10px;
  width: 395px;
  height: 35px;
  background: #f9f9f9;
  font-style: italic;
  font-family: cursive;
  border: none;
  border-radius: 7px;
  margin-top: 5px;
  margin-left: -100px;
  outline: none;
}
.country-notify {
  display: flex;
  justify-content: space-evenly;
}
#country {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px #fff, 1px 1px 5px #ddd;
  font-weight: 250;
  margin-top: 5px;
}
.icons {
  font-weight: 700;
  font-size: 20px;
  color: #001a72;
  display: flex;
  justify-content: space-between;
}
.icons i {
  position: relative;
  font-size: 23px;
  z-index: 1.2;
  margin-top: 9px;
  margin-left: 15px;
}
.icons i:hover {
  color: rgb(234, 235, 239);
  background: none;
}
i:hover {
  transition: 0.9s;
}
.profile {
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-right: 20px;
}
.profile p {
  margin-right: 20px;
  margin-top: 8px;
}
.profile img {
  border-radius: 50%;
  border: 1px solid #5ee085;
  width: 37px;
  height: 37px;
}

/* ACCESS SECTION */
.access {
  width: 975px;
  height: 195px;
  position: absolute;
  margin-top: 27.5px;
  margin-left: 125px;
  background: linear-gradient(to right, #5ee08526, #b940402b);
  border: none;
  outline: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.access p {
  font-size: 23.87px;
  font-weight: 574;
  position: relative;
  margin-top: 40px;
  margin-left: 35px;
}
.search-topic {
  width: 450px;
  height: 32.5px;
  padding: 5px;
  color: gray;
  background: #f9f9f9;
  font-style: italic;
  font-family: cursive;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-top: 20px;
  margin-left: 43px;
}
.access img {
  position: relative;
  top: -110px;
  right: -785px;
  width: 180px;
  height: 150px;
}

/* SHARE SECTION */
.share {
  width: 975px;
  display: flex;
  background: white;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-around;
  margin-top: 245px;
  margin-left: 125px;
  box-shadow: 1px 1px 5px #fff, 1px 1px 5px #ddd;
}
.share img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
.share .search {
  width: 600px;
  padding: 15px;
  font-family: cursive;
  font-style: italic;
  background: #f9f9f9;
  color: gray;
  border: none;
}
.share-icons {
  position: relative;
  justify-content: space-between;
  color: #aaa;
  margin-top: 12px;
  font-size: 22.5px;
}
.share-icons i:hover {
  color: gainsboro;
}

/* TOPIC SECTION */
.topic {
  max-width: 900px;
  margin-top: 26px;
  margin-left: 100px;
  color: rgb(71, 66, 66);
}
.topic ul {
  display: flex;
  justify-content: space-evenly;
}

.selected {
  color: black;
  font-weight: 550;
  text-decoration-color: white;
}
/* RELATION SECTION */
.relation {
  background: transparent;
}
.relation ul {
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
}
.relation li {
  max-width: 270px;
  height: 35px;
  background: white;
  color: #777;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}
ul .select {
  text-align: center;
  width: 70px;
  color: black;
  border: 2px solid green;
}

/* PROFILE SECTION */
.profile-extend {
  height: 120px;
  background: white;
  max-width: 975px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 125px;
  border-radius: 5px;
}
.tag {
  display: flex;
  justify-content: space-around;
}

.tag img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
}
.tag p {
  margin-top: 10px;
  margin-left: 20px;
}
.more .follow {
  width: 80px;
  height: 30px;
  color: black;
  text-decoration: none;
  border: 1px solid green;
  background: white;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 20px;
  gap: 32px;
}
.more i {
  font-size: 14.5px;
}
