* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
  max-width: auto;
}
body {
  background: rgb(247, 237, 237);
}
.heading {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 1px 1px5px #ddd, 1px 1px 5px #ddd;
  border-radius: 5px;
  padding: 7.5px;
}

.search {
  padding: 10px;
  margin: 5px;
  width: 350px;
  border-radius: 10px;
  font-style: italic;
}
#country {
  font-family: cursive;
  border-radius: 5px;
  font-weight: 250;
}
.icons {
  font-weight: 700;
  font-size: 20px;
}
