* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}
body {
  background: rgb(247, 237, 237);
}
.heading {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 1px 1px5px #ddd, 1px 1px 5px #ddd;
  border-radius: 5px;
  /* line-height: ; */
}
.head-title {
  margin: 10px;
}
