* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12em;
}

.nav-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 3em;
}

nav .nav-links ul {
    display: flex;
    gap: 3em;
    background-color: #F9F9F9;
    padding: 30px 50px;
    border-radius: 20px;
}

nav .nav-links ul>li>a {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
}

nav .join {
    display: flex;
    gap: 2em;
}

nav .join a {
    border: 2px solid #5EE085;
    background: none;
    color: #000000;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border-radius: 25px;
    width: 145px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav .join .have-bg {
    background-color: #5EE085;
    border: none;
    color: #FFFFFF;
}

/*
    Hero
*/
.hero-cont {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.hero {
    width: 97%;
    display: flex;
    justify-content: flex-start;
}

.hero .main {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    gap: 2em;
}

.hero .main .text {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.hero .main .text h1 {
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    width: 800px;
}

.hero .main .text p {
    width: 700px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 5%;
}

.hero .main .explore {
    width: 700px;
    position: relative;
}

.hero .main .explore input {
    width: 100%;
    color: #FFFFFF;
    background-color: #5EE085;
    padding: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.hero .main .explore input::placeholder {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "lato", sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.hero .main .explore .explr {
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 10px;
    border-radius: 10px;
    height: 44px;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}



main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5em;
    margin-top: 200px;
    margin-bottom: 100px;
}

/*
    About section
*/

.about-cont {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.about {
    width: 97%;
    display: flex;
    gap: 4em;
    flex-direction: column;
    align-items: center;
}

.about .head h4 {
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    color: #000000;
}

.about .head h4 span {
    color: #5EE085;
}

.about .body {
    background-color: #E6FCEC75;
    padding: 70px 105px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.about .body p {
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 2%;
    text-align: center;
    color: #000000;
}

.about .body a {
    border: 2px solid #5EE085;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 44px;

    /*text*/
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #5EE085;
}



/*
    Connect section
*/

.connect-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    overflow: hidden;
}

.connect-illustr {
    position: absolute;
    right: -5px;
    bottom: 100px;
}

.connect {
    width: 77%;
    display: flex;
    gap: 4em;
    flex-direction: column;
    align-items: center;
}

.connect .top {
    display: flex;
    width: 100%;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    height: 670px;
}

.connect .top .left {
    width: 35%;
    display: flex;
    align-items: center;
}

.connect .top .left img {
    height: 650px;
    width: 100%;
}

.connect .top .right {
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    align-items: center;
    justify-content: center;
}

.connect .top .right .img1 {
    width: 90%;
}

.connect .top .right img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}

.connect .top .right .i2 {
    height: 300px;
}

.connect .bottom {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.connect .bottom h5 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.connect .bottom p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 2%;
    text-align: center;
}

.connect .bottom a {
    background-color: #5EE085;
    height: 54px;
    width: 203px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/*
    Library section
*/

.library-cont {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-bottom: 500px;
}


/*
    Library section
*/

.footer-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}

.footer-illustr {
    position: absolute;
    left: 0;
    top: -130%;
}

footer {
    width: 96%;
    height: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.cta {
    background-color: #E6FCEC75;
    height: 390px;
    width: 65%;
    max-height: 400px;
    position: absolute;
    top: -50%;
    z-index: 1000;
    border-radius: 10px;
}

.cta-in {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.cta h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    width: 70%;
    text-align: center;
    color: #000000;
}

.cta .input {
    width: 75%;
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;
}

.cta .input input {
    height: 100%;
    width: 100%;
    background-color: #D34848;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 70px;

    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.cta .input input::placeholder {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.cta .input .img {
    position: absolute;
    left: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .cta-butn {
    position: absolute;
    right: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    max-width: 145px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.cta-in .ellipse {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    width: 96%;
    height: 500px;
    background-color: #5EE085;
    margin: 20px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.footer-content {
    margin-top: 250px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content .left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-content .left .logo h2 {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.footer-content .left p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    color: #F9F9F9;
    max-width: 450px;
}

.footer-content .right {
    display: flex;
    gap: 3em;
}

.footer-content .right .col {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-content .right .col p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #000000;
}

.footer-content .right .col ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-content .right .col ul li a {
    color: #F9F9F9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}