* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 3em;
}

nav .nav-links ul {
    display: flex;
    gap: 3em;
    background-color: #F9F9F9;
    padding: 30px 50px;
    border-radius: 20px;
}

nav .nav-links ul>li>a {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
}

nav .join {
    display: flex;
    gap: 2em;
}

nav .join a {
    border: 2px solid #5EE085;
    background: none;
    color: #000000;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border-radius: 25px;
    width: 145px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav .join .have-bg {
    background-color: #5EE085;
    border: none;
    color: #FFFFFF;
}