* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: #F9F9F9;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12em;
}

.nav-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav .logo {
    width: 20%;
}

nav .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    gap: 13%;
}

nav .nav-links ul {
    display: flex;
    gap: 2em;
    background-color: #FFFFFF;
    padding: 30px 50px;
    border-radius: 20px;
}

nav .nav-links ul li>a.bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

nav .nav-links ul>li>a {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
}

nav .join {
    display: flex;
    gap: 2em;
}

nav .join a {
    border: 2px solid #5EE085;
    background: none;
    color: #000000;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border-radius: 25px;
    width: 145px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav .join .have-bg {
    background-color: #5EE085;
    border: none;
    color: #FFFFFF;
}

.ham {
    display: none;
}

/*
    Hero
*/

.hero-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-cont {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 900px;
}

.hero {
    width: 97%;
    display: flex;
    justify-content: flex-start;
}

.hero .main {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    gap: 2em;
}

.hero .main .text {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.hero .main .text h1 {
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    width: 800px;
}

.hero .main .text p {
    width: 700px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 5%;
}

.hero .main .explore {
    width: 700px;
    position: relative;
}

.hero .main .explore input {
    width: 100%;
    color: #FFFFFF;
    background-color: #5EE085;
    padding: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.hero .main .explore input::placeholder {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "lato", sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.hero .main .explore .explr {
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 10px;
    border-radius: 10px;
    height: 44px;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.explr img {
    padding-left: 7px;
    height: 28px;
}

.tree {
    position: absolute;
    top: 60px;
    right: -100px;
    width: 100%;
}

.hero-arr {
    position: absolute;
    bottom: 140px;
    left: 0;
}

.rectangle {
    position: absolute;
    bottom: 210px;
    right: 0;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5em;
    margin-top: 200px;
    margin-bottom: 100px;
    position: relative;
}

/*
    About section
*/

.about-cont {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    padding-top: 150px;
}

.about {
    width: 97%;
    display: flex;
    gap: 4em;
    flex-direction: column;
    align-items: center;
}

.about .head h4 {
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    color: #000000;
}

.about .head h4 span {
    color: #5EE085;
}

.about .body {
    background-color: #E6FCEC75;
    padding: 70px 105px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.about .body p {
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 2%;
    text-align: center;
    color: #000000;
}

.about .body a {
    border: 2px solid #5EE085;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 44px;

    /*text*/
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #5EE085;
}



/*
    Connect section
*/

.connect-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 350px;
    position: relative;
    overflow: hidden;
}

.connect-illustr {
    position: absolute;
    right: -5px;
    bottom: 200px;
}

.connect {
    width: 77%;
    display: flex;
    gap: 4em;
    flex-direction: column;
    align-items: center;
}

.connect .top {
    display: flex;
    width: 100%;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    height: 670px;
}

.connect .top .left {
    width: 35%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 10px;
    object-fit: cover;
    background-position: center;
}

.connect .top .left img {
    height: 660px;
    width: 100%;
}

.connect .top .right {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.connect .top {
    justify-content: center;
}

.connect .top .left {
    width: 40%;
}

.connect .top .right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row1,
.row2 {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    gap: .5em;
}

.connect .top .right .row1 img {
    height: 300px;
}

.connect .top .right .row2 img {
    height: 325px;
}

.connect .bottom {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.connect .bottom h5 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.connect .bottom p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 2%;
    text-align: center;
}

.connect .bottom a {
    background-color: #5EE085;
    height: 54px;
    width: 203px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/*
    Library section
*/

.library-cont {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 500px;
}


/*
    Library section
*/

.comm-cont {
    margin-bottom: 300px;
}

.comm-illustr {
    position: absolute;
    left: 0;
}

.footer-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}

.footer-illustr {
    position: absolute;
    left: 0;
    top: -130%;
}

footer {
    width: 96%;
    height: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.cta {
    background-color: #E6FCEC75;
    height: 390px;
    width: 65%;
    max-height: 400px;
    position: absolute;
    top: -50%;
    z-index: 1000;
    border-radius: 10px;
}

.cta-in {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.cta h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    width: 70%;
    text-align: center;
    color: #000000;
}

.cta .input {
    width: 75%;
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;
}

.cta .input input {
    height: 100%;
    width: 100%;
    background-color: #D34848;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 70px;

    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.cta .input input::placeholder {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.cta .input .img {
    position: absolute;
    left: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .cta-butn {
    position: absolute;
    right: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    max-width: 145px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.cta-in .ellipse {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    width: 96%;
    height: 500px;
    background-color: #5EE085;
    margin: 20px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.footer-content {
    margin-top: 250px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content .left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-content .left .logo h2 {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.footer-content .left p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    color: #F9F9F9;
    max-width: 450px;
}

.footer-content .right {
    display: flex;
    gap: 3em;
}

.footer-content .right .col {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-content .right .col p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #000000;
}

.footer-content .right .col ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-content .right .col ul li a {
    color: #F9F9F9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

@media screen and (max-width: 320px) {
    .ham {
        display: block;
    }

    .hero .main .explore {
        max-width: 100%;
    }

    .hero .main .explore input {
        padding: 10px;
        max-width: 90%;
        padding-right: 20px;
        padding-left: 18px;
    }

    .hero .main .explore input::placeholder {
        font-size: 10px;
    }

    .hero .main .explore .explr {
        height: 22px;
        width: 100px;
        font-size: 10px;
        top: 6px;
        right: 35px;
    }

    .explr img {
        height: 15px;
        padding-left: 4;
    }

    .hero .main .text p {
        font-size: 10px;
        line-height: 30px;
        font-weight: 500;
        max-width: 20%;
    }

    .connect .top .right .row1 img {
        max-height: 50px;
    }

    .connect .top .right .row2 img {
        max-height: 60px;
    }

    .connect .top .right {
        width: 100%;
        margin-right: 205px;
    }

    .connect-illustr {
        display: none;
    }

    .cta {
        width: 95%;
        max-height: 370px;
        height: 350px;
        margin-top: 150px;
        top: -110%;
    }

    .footer-illustr {
        max-height: 120px;
    }

    .cta h4 {
        font-size: 10px;
    }

    .cta .input input::placeholder,
    .cta .input input {
        font-size: 10px;
        line-height: 14px;
        font-weight: 500;
    }

    .cta-in .ellipse {
        height: 25px;
        z-index: -199;
    }
}


@media screen and (max-width: 375px) {
    .connect-illustr {
        display: none;
    }

    .ham {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    nav {
        position: relative;
    }

    nav .right {
        display: none;
    }

    nav .right.active {
        display: none;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 3000;
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    nav .right.active .ham {
        display: flex;
        justify-content: center;
        padding: 30px 0;
    }

    nav .right.active .ham i {
        font-size: 40px;
    }

    nav .ham i {
        font-size: 25px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
    }

    nav .nav-links ul {
        flex-direction: column;
        justify-content: center;
    }

    nav .join {
        flex-direction: column;
    }

    .ham {
        display: block;
    }

    .hero-cont {
        width: 90%;
    }

    .hero {
        width: 100%;
    }

    .hero .main {
        width: 100%;
    }

    .hero .main .text h1 {
        font-size: 10px;
        line-height: 5px;
        font-weight: 500;
        max-width: 50%;
    }

    .hero .main .text p {
        font-size: 10px;
        line-height: 30px;
        font-weight: 500;
        max-width: 50%;
    }

    .rectangle {
        display: none;
    }

    .hero-arr {
        display: none;
    }

    .tree {
        display: none;
    }

    .hero .main .explore {
        max-width: 100%;
    }

    .hero-cont {
        height: 500px;
    }

    main {
        margin-top: 10px;
    }

    .about-cont {
        margin-top: 5px;
    }

    .about .head h4 {
        font-size: 22px;
    }

    .about .body {
        width: 99%;
        padding: 50px 20px;
    }

    .about .body p {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 1.5%;
    }

    .about .body a {
        height: 33px;
        width: 180px;
        font-size: 18px;
    }

    .connect-cont {
        padding-top: 10px;
    }

    .connect {
        width: 98%;
    }

    .connect .top {
        gap: 0.01em;
        height: 320px;
        justify-content: center;
        align-items: center;
        z-index: 100000;
    }

    .connect .top .left {
        max-width: 0.01%;
    }

    .connect .top .left img {
        max-height: 0.001px;
        width: 0.001%;
    }

    .connect .top .right {
        width: 100%;
        margin-right: 75px;
    }

    .row1,
    .row2 {
        gap: .1em;
    }

    .connect .top .right .row1 img {
        max-height: 140px;
    }

    .connect .top .right .row2 img {
        max-height: 150px;
    }

    .connect .bottom {
        width: 95%;
    }

    .connect .bottom h5 {
        font-size: 25px;
    }

    .connect .bottom p {
        font-size: 18px;
        line-height: 30px;
    }

    .connect .bottom a {
        height: 44px;
        width: 180px;
        font-size: 18px;
    }

    .comm-cont {
        width: 100%;
        margin-bottom: 350px;
        z-index: 1000;
    }

    .comm-cont .comm-illustr {
        max-width: 10px;
    }

    .comm-cont .img {
        max-width: 80%;
    }

    .connect-illustr {
        height: 200px;
    }

    .footer-illustr {
        max-height: 200px;
        top: -124%;
    }

    .cta {
        width: 85%;
        max-height: 370px;
        height: 350px;
        margin-top: 150px;
        top: -110%;
    }

    .cta h4 {
        font-size: 20px;
    }

    .cta .input {
        width: 90%;
    }

    .cta .input input::placeholder,
    .cta .input input {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
    }

    .cta .cta-butn {
        font-size: 14px;
        max-width: 100px;
    }

    .cta-in .ellipse {
        height: 70px;
    }

    footer {
        height: auto;
    }

    .footer-content {
        flex-direction: column;
        gap: 2em;
    }

    .footer-content .left .logo h2 {
        font-size: 25px;
    }

    .footer-content .left p {
        font-size: 18px;
        line-height: 25px;
    }

    .footer-content .right {
        flex-direction: column;
        gap: 1em;
    }

    .footer-content .right .col {
        gap: .5em;
    }

    .footer-content .right .col p {
        font-size: 18px;
        line-height: 24px;
    }

    .footer-content .right .col ul {
        gap: .5em;
    }

    .footer-content .right .col ul li a {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        overflow: hidden;
        width: 100%;
    }

    nav {
        width: 90%;
    }

    nav .logo img {
        height: 20px;
    }

    nav ul {
        gap: 1.5em;
    }

    nav .right {
        gap: 1.5em;
    }

    nav .nav-links ul {
        gap: 1.5em;
        padding: 20px 25px;
    }

    nav .join {
        gap: 1em;
    }

    .hero-cont {
        width: 90%;
    }

    .hero .main .text h1 {
        font-size: 50px;
        line-height: 80px;
        width: 550px;
    }

    .hero .main .explore {
        width: 550px;
    }

    .tree {
        height: 500px;
        right: -50px;
        top: 100px;
    }

    .hero-arr {
        height: 120px;
        left: 0;
        bottom: 300px;
    }

    .rectangle {
        height: 100px;
        bottom: 400px;
    }

    .hero .main .text p {
        font-size: 22px;
    }

    .connect {
        width: 88%;
    }

    .connect .top {
        justify-content: center;
    }

    .connect .top .left {
        width: 40%;
    }

    .connect .top .right {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row1,
    .row2 {
        display: flex;
        height: 50%;
        width: 100%;
        align-items: center;
        gap: .5em;
    }

    .connect .top .right .row1 img,
    .connect .top .right .row2 img {
        height: 300px;
    }

    .footer-illustr {
        height: 350px;
        left: 0;
    }

    .footer-content {
        width: 85%;
    }

    .footer-content .left p {
        max-width: 400px;
    }

    .footer-content .right {
        gap: 2em;
    }

    .footer-content .right .col {
        gap: 2.8em;
    }
}

@media screen and (max-width: 1440px) {
    .hero-arr {
        height: 160px;
    }

    .tree {
        top: 40px;
    }
}

@media (min-width: 1740px) and (max-width: 2040px) {
    .hero-arr {
        display: none;
    }
}